<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/fav.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6d7a715048.js" crossorigin="anonymous"></script>
    <title>Wanderlust | www.wanderlust.com</title>
    style
        include ../static/css/style.css
        include ../static/responsive/phone.css
</head>

<body>
    <div id="container">
        <nav id="navbar">
            <div class="logo">
                <a href="/">Travel | <span>Consulting</span></a>
            </div>
            <ul>
                <li class="list-item"><a href="/" class="active">Home</a></li>
                <li class="list-item"><a href="/portfolio">Portfolio</a></li>
                <li class="list-item"><a href="/about">About Us</a></li>
                <li class="list-item"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="video-section">
            <video src="../static/vid/snow.mp4" muted autoplay loop></video>
        </div>
    
        <div class="content-section">

            <h2>Wanderlust</h2>
            <p>a strong desire to wonder</p>
            <p>and explore the world !!</p>
            <a href="https://www.google.com/" target="_blank">Explore<i class="fas fa-hand-point-right"></i></a>


        </div>

        <footer class="footer">
            <div class="left_side">
                <p>Copyright&copy; All rights reserved | Created by Harsh Bisht<a href="https://www.linkedin.com/in/harsh-vardhan-bisht-9600b0209/" target="_blank"><i class="fab fa-linkedin"></i></a></p>
            </div>
            <div class="right_side">
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://en-gb.facebook.com/login/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                
            </div>
        </footer>
    </div>
</body>

</html>